<%= form_for(@painter) do |f| %>
  <% if @painter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@painter.errors.count, "error") %> prohibited this painter from being saved:</h2>

      <ul>
      <% @painter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :nationality %><br>
    <%= f.text_field :nationality %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
