<h1>Listing painters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Nickname</th>
      <th>Nationality</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @painters.each do |painter| %>
      <tr>
        <td><%= painter.name %></td>
        <td><%= painter.surname %></td>
        <td><%= painter.nickname %></td>
        <td><%= painter.nationality %></td>
        <td><%= link_to 'Show', painter %></td>
        <td><%= link_to 'Edit', edit_painter_path(painter) %></td>
        <td><%= link_to 'Destroy', painter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Painter', new_painter_path %>
