<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @photo.model_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @photo.order %>
</p>

<p>
  <strong>File:</strong>
  <%= @photo.file %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
